# Dependencies
node_modules/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment variables
.env

# Database
data/*.db
data/*.db-shm
data/*.db-wal

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
